@model HistoryPartialModel

@foreach (var item in Model.History)
{    
    <tr>
        <td scope="col-3">@item.Date.ToString("dd.MM.yyyy HH:mm")</td>
        <td scope="col-3">@item.UserLogin</td>
        <td scope="col-6">@item.Description</td>
    </tr>
}
